/* CSS Document */



body {
    background-color: #ecf0f5;
}





#content_2 > div:nth-child(1){margin-top:1%}

#content_2 > div.row > div:nth-child(3){float:right; 	}

.height-32
{
	height:32.9px;
}

#tableNameSelect{
	height:400px;
	overflow:auto;
}

#content{ margin:0 10px;}

#content > div{margin-top:10px;}

#ConfigItem > div{
	height:30px;
}

#example2_wrapper{padding:15px;}
#ConfigItem > div > span.label.label-default{
	margin-right:3px;
	width:60px;
	display:inline-block;
	text-align:right;
}

#ConfigItem > div > span.label.label-success{
	margin-right:3px;
}


.row {
    margin-right: 0px;
    margin-left: 0px;
}






