/* CSS Document */
.div_center { margin: 0 auto; }
.tb960x90 { display: none!important; display: none }
body { margin-top: 12px; background-color: #ecf0f5; }
#content { margin: 0 10px; }
#content > div { margin-top: 10px; }
#content_2 > div { border: 1px solid #e2e2e2; height: 100%; background: #fff; }
#content_2 .left { float: left; width: 27%; margin-right: 1%; }
#treeDemo{overflow: auto; height:513px}
#content_2 .right { padding: 10px; float: right; width: 72%; }
.portlet-title { color: #444444 !important; margin-bottom: 0px; padding: 8px 10px 2px 10px; border-bottom: 1px solid #eee; background-color: #5cb85c; height: 35px; font-weight: 700; }
.caption { color: #FFF; }
.clear_p { padding: 0; }
/*-----------------------------------------------------------------------------------------------------*/
table.dataTable, table.dataTable th, table.dataTable td { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; text-align: center; }
 @media (min-width: 500px) .modal-content {
 -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
/* box-shadow: 0 5px 15px rgba(0,0,0,.5); */
}
